%h1 Create a New Zone
%form.well{:action => "/zone_create", :method => "post"}
  Zone Name
  %input{:type => "text", :size => "30", :name => "name"}
  %hr
  Zone Erlang Cookie
  %input{:type => "text", :size => "30", :name => "erlang_cookie"}
  %hr
  Select Version
  %select{:name => "version"}
    %option{:value => "v2.5.0"} v2.5.0
    %option{:value => "v2.10.0"} v2.10.0
    %option{:value => "v2.10.12"} v2.10.12
  %hr
  App Server 1 (Whapps / Ecallmgr / RabbitMQ / HAProxy)
  %label{:for => "name"}
    Node Name
  %input{:type => "text", :size => "30", :name => "server[0][name]"}
  %label{:for => "name"}
    IP Address
  %input{:type => "text", :size => "30", :name => "server[0][ip]"}
  %input{:type => "hidden", :name => "server[0][role]", :value => "whapps"}
  %hr
  App Server 2 (Whapps / Ecallmgr / RabbitMQ / HAProxy)
  %label{:for => "name"}
    Node Name
  %input{:type => "text", :size => "30", :name => "server[1][name]"}
  %label{:for => "name"}
    IP Address
  %input{:type => "text", :size => "30", :name => "server[1][ip]"}
  %input{:type => "hidden", :name => "server[1][role]", :value => "whapps"}
  %hr
  DB Server 1 (BigCouch DB)
  %label{:for => "name"}
    Node Name
  %input{:type => "text", :size => "30", :name => "server[2][name]"}
  %label{:for => "name"}
    IP Address
  %input{:type => "text", :size => "30", :name => "server[2][ip]"}
  %input{:type => "hidden", :name => "server[2][role]", :value => "bigcouch"}
  %hr
  DB Server 2 (BigCouch DB)
  %label{:for => "name"}
    Node Name
  %input{:type => "text", :size => "30", :name => "server[3][name]"}
  %label{:for => "name"}
    IP Address
  %input{:type => "text", :size => "30", :name => "server[3][ip]"}
  %input{:type => "hidden", :name => "server[3][role]", :value => "bigcouch"}
  %hr
  DB Server 3 (BigCouch DB)
  %label{:for => "name"}
    Node Name
  %input{:type => "text", :size => "30", :name => "server[4][name]"}
  %label{:for => "name"}
    IP Address
  %input{:type => "text", :size => "30", :name => "server[4][ip]"}
  %input{:type => "hidden", :name => "server[4][role]", :value => "bigcouch"}
  %hr
  Media Gateway Server 1 (FreeSWITCH)
  %label{:for => "name"}
    Node Name
  %input{:type => "text", :size => "30", :name => "server[5][name]"}
  %label{:for => "name"}
    IP Address
  %input{:type => "text", :size => "30", :name => "server[5][ip]"}
  %input{:type => "hidden", :name => "server[5][role]", :value => "freeswitch"}
  %hr
  Media Gateway Server 2 (FreeSWITCH)
  %label{:for => "name"}
    Node Name
  %input{:type => "text", :size => "30", :name => "server[6][name]"}
  %label{:for => "name"}
    IP Address
  %input{:type => "text", :size => "30", :name => "server[6][ip]"}
  %input{:type => "hidden", :name => "server[6][role]", :value => "freeswitch"}
  
  %hr
  %input{:type => "hidden", :name => "cluster_id", :value => @cluster_id}
  %input{:type => "submit", :value => "Create New Zone", :class => "btn"}