%h1= @zone.props["name"] + " Zone"

%ul.well
	%li{:class => "btn btn-large btn-success"} RabbitMQ
	%li{:class => "btn btn-large btn-success"} Call Routing
	%li{:class => "btn btn-large btn-success"} Database

%table{:border => 0, :width => "100%"}
	%tr
	%tr
	%tr
		%th{:class => "btn btn-mini btn-inverse"}Edit
	%tr{:align => "left"}
		%th Monitored
		%th Enabled
	%tr{:align => "left"}
		%th Mainenance Schedule  
		%th none scheduled
	%tr{:align => "left"}
		%th Local IP Address
		%th 192.168.1.10
	%tr{:align => "left"}
		%th Maintenance Notfication Alerts
		%th Email and Phone
	%tr{:align => "left"}
		%th SSH Key
	%tr{:align => "left"}
		%th Node Role(s)
		%th FreeSWITCH
	%tr{:align => "left"}
		%th Remote Log Server
		%th log.domain.com
	%tr{:align => "left"}
		%th Backup Frequency
		%th Daily
	%tr{:align => "left"}
		%th Backup Location
		%th backup.domain.com
	%tr{:align => "left"}
		%th Backup Method
		%th SCP