%h1 Create a New Cluster
%form.well{:action => "/clusters", :method => "post"}
  %label{:for => "name"}
    Cluster Name
  %input{:type => "text", :name => "name"}/
  %input{:type => "submit", :value => "Create", :class => "btn"}/

%h1 Current Clusters
- @keys.each do |key|
  .span1.well
    %a{:href => "/servers/cluster:#{key}"}= key
