%h1 Create a New Cluster
%form.well{:action => "/clusters", :method => "post"}
  .input
    %label{:for => "environment"}
      Environment
    %select{:name => "environment"}
      - @config["environments"].each do |v|
        %option{:value => v}= v
  .input
    %label{:for => "name"}
      Cluster Name
    %input{:type => "text", :name => "name"}/
  .actions
    %input{:type => "submit", :value => "Create", :class => "btn"}/