<h1> Current Clusters </h1>

<table>
  <tbody>
    <% @keys.each do |key| %>
      <tr>
	<td>
          <a href ="/servers/cluster:<%= key %>"}><%= key %></a>
	</td>
      </tr>
<% end %>
  </tbody>
</table>