%h1 Create a New Environment
%form{ :action => "/environments", :method => "post", :class => "form-stacked"}
  %label{:for => "name"}
    Environment Name
  %input{:type => "text", :name => "name"}
  %input{:type => "submit", :value => "Create", :class => "btn"}

%h1 Current Environments
%ul
  - @environment_list.each do |key|
    %br
      %br
        %li
          %a{:href => "/servers/cluster:#{key}", :class => "alert-message block-message success", :style => "display: block; height: 90px; width: 90px; line-height: 90px; text-align: center"}= key