%h1
  Environments
.row
  .span10
    %a.btn{:href => "/environments/create"}
      %i.icon-plus
      New
.row
- @environments.each do |key|
  .span2.well
    %a{:href => "/environments/#{key}"}= key
