%h1
  2600hz Platform Management Tool
- unless @notifications.empty?
  .alert
    = @notifications.join("<br />")
.row
  .span10
    %a.btn{:href => "/environments/create"}
      %i.icon-plus
      New
.row
- @accounts.each do |env|
  .span2.well
    %a{:href => "/accounts/#{env.id}"}= env.props["name"]
