%form{ :action => "/clusters", :method => "post", :class => "form-stacked"}
	%label{:for => "name"}Cluster Name
	%input{:type => "text", :name => "name"}
	%input{:type => "submit", :value => "Create", :class => "btn"}