<form action='/servers' method='post'>
  <label for='name'>Node Name</label>
  <%= input_for 'name' %>
  <%= input_for 'create', { :type => 'submit', :value => 'Create' } %>
</form>
<form action='/clusters' method='post'>
  <label for='name'>Cluster Name</label>
  <%= input_for 'name' %>
  <%= input_for 'create', { :type => 'submit', :value => 'Create' } %>
</form>
