%h1
  Environments
- unless @notifications.empty?
  .alert
    = @notifications.join("<br />")
.row
  .span10
    %a.btn{:href => "/environments/create"}
      %i.icon-plus
      New
.row
- @environments.each_pair do |id, env|
  .span2.well
    %a{:href => "/environments/#{id}"}= env.props["name"]
