!!!
%html
  %head
    %title
      = @title ? @title + " - " : ""
      Central - Ninjawarriors
    %link(rel="stylesheet" href="/css/bootstrap.min.css")
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"}
    %script{:src => "../../js/bootstrap-modal.js"}
    %body(style="padding-top:60px")
      .navbar.navbar-fixed-top
        .navbar-inner
          .container-fluid
            %a.brand{:href => "/"} Central
            %ul(class="nav")
              %li
                %a(href="/command") Commands
              %li
                %a{:href => "/scheduler"} Scheduler
            %ul.nav.pull-right
              %li
                %a(href="/environments")Environments
              %li
                %a(href="/clusters")Clusters
              %li
                %a(href="/nodes")Nodes
      .container-fluid
        .row-fluid
          .span2
            = partial "sidebar"
          - if !@crumbs.empty? || !@active.nil?
            .span10
              = partial "breadcrumbs"
          .span10
            =yield
