!!!
%html
  %head
    %title
      = @title ? @title + " - " : ""
      Central - Ninjawarriors
    %link(rel="stylesheet" href="/css/bootstrap.min.css")
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"}
    %script{:src => "../../js/bootstrap-modal.js"}
    %body(style="padding-top:60px")
      .topbar
        .topbar-inner
          .container-fluid
            %a(href="/" class="brand")Central
            %ul(class="nav")
              %li
                %a(href="/nodes")Nodes
              %li
                %a(href="/clusters")Clusters
              %li
                %a(href="/command")Command
              %li
                %a{:href => "/scheduler"} Scheduler
      .container-fluid
        .sidebar
          .well
        .content
          =yield
