%h1= "Servers in #{@keys}"
%ul
  -@servers.each do |servers|
    %li
      %a{:href => "/node/#{servers}"}= servers

%input{:name => "refresh", :type => "submit", :value => "Refresh", :class => "btn info"}