.well{:style => "padding: 8px 0;"}
  %ul.nav.nav-list
    %li.nav-header Create
    %li
      %a{:href => "/environments/create"} Environment
    %li
      %a{:href => "/clusters/create"} Cluster
    %li
      %a{:href => "/nodes/create"} Node