.well{:style => "padding: 8px 0;"}
  %ul.nav.nav-list
    %li.nav-header Environments
    %li
      %a{:href => "/environments/create"} Create
    %li
      %a{:href => "/environments"} List

  %ul.nav.nav-list
    %li.nav-header Clusters
    %li
      %a{:href => "/clusters/create"} Create
    %li
      %a{:href => "/clusters"} List

  %ul.nav.nav-list
    %li.nav-header Nodes
    %li
      %a{:href => "/nodes/create"} Create
    %li
      %a{:href => "/nodes"} List

  %ul.nav.nav-list
    %li.nav-header [admin] Commands
    %li
      %a{:href => "/commands/create"} Create 
    %li
      %a{:href => "/commands"} List