%h1 New environment
%form.well{:action => "/environments", :method => "post"}
  .input
    %label{:for => "name"}
      Environment Name
    %input{:type => "text", :name => "name"}/
  .actions
    %input{:type => "submit", :value => "Create", :class => "btn"}/