%h1= @environment.props["name"] + " environment"

%table{:border => 0, :width => "100%"}
	%tr{:align => "left"}
		%th Environment Status
		%th Schedule Maintenance
		%th
	%tr
		%td
			%span= @environment.clusters.size.to_s + " cluster(s)"
			%ul
				- @environment.clusters.each do |cluster|
					%li
						%a{:href => "/clusters/#{cluster.id}"}= cluster.props["name"]
		%td
		%td
	%tr{:align => "left"}
		%th Add Region
		%th Remove Region
		%th