%h1= @cluster.props["name"] + " cluster"
%span= @cluster.nodes.size.to_s + " nodes(s)"
%ul
	- @cluster.nodes.each do |node|
		%li
			%a{:href => "/nodes/#{node.id}"}= node.props["name"]

%table{:border => 0, :width => "100%"}
	%tr{:align => "left"}
		%th Cluster Status
		%th Maintenance
		%th Upgrade/Downgrade
	%tr
		%td
			Versions: v2.10.11
		%td
		%td
			%form{:action => "/foo", :method => "post"}
				Select Version
				.input
					%label{:version => "version"} 
					%select{:name => "Version"}
						%option{:value => "v2.09.10"} v2.09.10
						%option{:value => "v2.10.0"} v2.10.0
						%option{:value => "v2.10.12"} v2.10.12
				%input{:type => "submit", :value => "Deploy", :class => "btn"}
	%tr{:align => "left"}
		%th Backup
		%th Add Server
		%th Remove Server