- days = { 'Ops' => 'Ops', 'Dev' => 'Dev', 'QA' => 'QA', 'Staging' => 'Staging', 'Beta' => 'Beta', 'Prod' => 'Prod' }
.input
%select{:name => "cluster_membership"}
  - days.each do |n,v|
    %option{:value => n}= v